In [26]:
# Import Libraries and Dependencies
import pandas as pd

### Read in files

In [27]:
# Read in data and index by CustomerID
# Read in data and index by CustomerID
try:
  jan = pd.read_csv('Resources/Jan2019_sales.csv', index_col='order_ID')
  feb = pd.read_csv('Resources/Feb2019_sales.csv', index_col='order_ID')
  mar = pd.read_csv('Resources/March2019_sales.csv', index_col='order_ID')
except FileNotFoundError as e:
  print(e)

In [28]:
# Show sample of January sales data.
try:
    print(jan.head(5))
except NameError as e:
    print(e)

                           product  quantity_ordered   price      order_date  \
order_ID
141234                      iPhone                 1  700.00  01/22/19 21:25
141235    Lightning Charging Cable                 1   14.95  01/28/19 14:15
141236            Wired Headphones                 2   11.99  01/17/19 13:33
141237            27in FHD Monitor                 1  149.99  01/05/19 20:33
141238            Wired Headphones                 1   11.99  01/25/19 11:59

         state           city  zip_code
order_ID
141234      FL        Orlando     32807
141235      FL          Miami     33137
141236      GA        Atlanta     30318
141237      CA    Los Angeles     90014
141238      CA  San Francisco     94016

In [29]:
# Show sample of February sales data.
try:
  print(feb.head())
except NameError as e:
  print(e)

                           product  quantity_ordered   price      order_date  \
order_ID
150502                      iPhone                 1  700.00  02/18/19 01:35
150503       AA Batteries (4-pack)                 1    3.84  02/13/19 07:24
150504      27in 4K Gaming Monitor                 1  389.99  02/18/19 09:46
150505    Lightning Charging Cable                 1   14.95  02/02/19 16:47
150506       AA Batteries (4-pack)                 2    3.84  02/28/19 20:32

         state          city  zip_code
order_ID
150502      PA  Philadelphia     19132
150503      CA     San Diego     91911
150504      CA     San Diego     91911
150505      FL       Orlando     32822
150506      WA       Seattle     98115

In [30]:
# Show sample of March sales data.
try:
 print(mar.head())
except NameError as e:
 print(e)

                             product  quantity_ordered   price  \
order_ID
162009                        iPhone                 1  700.00
162009      Lightning Charging Cable                 1   14.95
162009              Wired Headphones                 2   11.99
162010    Bose SoundSport Headphones                 1   99.99
162011        34in Ultrawide Monitor                 1  379.99

              order_date state         city  zip_code
order_ID
162009    03/28/19 20:59    CA  Los Angeles     90008
162009    03/28/19 20:59    TX       Austin     78729
162009    03/28/19 20:59    OR     Portland     97209
162010    03/17/19 05:39    FL        Miami     33125
162011    03/10/19 00:01    CA    San Diego     92029

### Check the data types of each DataFrame

In [31]:
# Jan sales datatypes
try:
 print(jan.info())
except NameError as e:
    print(e)

<class 'pandas.core.frame.DataFrame'>
Index: 9681 entries, 141234 to 150501
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product           9681 non-null   object
 1   quantity_ordered  9681 non-null   int64
 2   price             9681 non-null   float64
 3   order_date        9681 non-null   object
 4   state             9681 non-null   object
 5   city              9681 non-null   object
 6   zip_code          9681 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 605.1+ KB
None

In [32]:
# Feb sales datatypes
try:
 print(feb.info())
except NameError as e:
    print(e)

<class 'pandas.core.frame.DataFrame'>
Index: 11986 entries, 150502 to 162008
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product           11986 non-null  object
 1   quantity_ordered  11986 non-null  int64
 2   price             11986 non-null  float64
 3   order_date        11986 non-null  object
 4   state             11986 non-null  object
 5   city              11986 non-null  object
 6   zip_code          11986 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 749.1+ KB
None

In [33]:
# March sales datatypes
try:
 print(mar.info())
except NameError as e:
    print(e)

<class 'pandas.core.frame.DataFrame'>
Index: 15154 entries, 162009 to 176557
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product           15154 non-null  object
 1   quantity_ordered  15154 non-null  int64
 2   price             15154 non-null  float64
 3   order_date        15154 non-null  object
 4   state             15154 non-null  object
 5   city              15154 non-null  object
 6   zip_code          15154 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 947.1+ KB
None

### Combine the sales data by rows.

In [34]:
# Combine the January, February, and March sales DataFrames on the rows using an inner join, and reset the index
# Combine the January, February, and March sales DataFrames on the rows using an inner join, and reset the index
try:
  sales = pd.concat([jan, feb,mar], axis='rows',join = 'inner', ignore_index=False).reset_index()

  #unit test - check if joined properly
  # sum of all data frame count
  total_count = jan.shape[0] + feb.shape[0] + mar.shape[0]  

  # Count after all data frame combined 
  # Assuming 'sales' is a DataFrame or any other data structure with rows representing sales data

  # Get the total number of rows in the 'sales' DataFrame
  total_joined_count = sales.shape[0]   

# Check if the total number of rows in 'sales' matches the expected total count
  if total_count == total_joined_count:
    # If the counts match, print a message indicating successful joining
    print(f"Joined properly. Total count: {total_count} == Joined count: {total_joined_count}")
  else:
    # If the counts do not match, print an error message indicating a problem in joining
    print(f'Error on joining. Total count: {total_count} != Joined count: {total_joined_count}')
  print(sales.head(2))
except NameError as ne:
  print(ne)

Joined properly. Total count: 36821 == Joined count: 36821
   order_ID                   product  quantity_ordered   price  \
0    141234                    iPhone                 1  700.00
1    141235  Lightning Charging Cable                 1   14.95

       order_date state     city  zip_code
0  01/22/19 21:25    FL  Orlando     32807
1  01/28/19 14:15    FL    Miami     33137

In [35]:
# Check if any values are null.
try:
 print(sales.isna().sum())
except NameError as e:
  print(e)

order_ID            0
product             0
quantity_ordered    0
price               0
order_date          0
state               0
city                0
zip_code            0
dtype: int64

In [36]:
# Check the data type of each column
try:
  print(sales.info())
except NameError as e:
  print(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36821 entries, 0 to 36820
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_ID          36821 non-null  int64
 1   product           36821 non-null  object
 2   quantity_ordered  36821 non-null  int64
 3   price             36821 non-null  float64
 4   order_date        36821 non-null  object
 5   state             36821 non-null  object
 6   city              36821 non-null  object
 7   zip_code          36821 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 2.2+ MB
None

In [37]:
# Convert the "order_date" column to a datetime datatype.
# Convert the "order_date" column to a datetime datatype.
try:
  sales['order_date'] = pd.to_datetime(sales['order_date'], format='%m/%d/%y %H:%M')
except NameError as e:
  print(e)

In [38]:
# Confirm that the data type has been changed.
try:
 print(sales['order_date'].head())
except NameError as e:
 print(f"No data frame name as {e}")
except KeyError as ke:
 print(f"No column name as {ke}")

0   2019-01-22 21:25:00
1   2019-01-28 14:15:00
2   2019-01-17 13:33:00
3   2019-01-05 20:33:00
4   2019-01-25 11:59:00
Name: order_date, dtype: datetime64[ns]

### 1. Which top five zip codes in which cities and states had the greatest number of products ordered?

### Using `groupby`

In [39]:
Categorical_columns= ['state','city','zip_code']
Numerical_columns  = 'quantity_ordered'
try:
  # Show the average number items ordered for each state, city, and zip code.
  avg_items_ordered = sales.groupby(Categorical_columns).agg({Numerical_columns: 'sum'})

  # Rename the sum column to reflect the data in the column.
  avg_items_ordered.rename(columns={'quantity_ordered':'avg_items_ordered'},inplace= True)

  # Show the top 5 results.
  print(avg_items_ordered.sort_values(by='avg_items_ordered', ascending=False).head())
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
  print(ne)

                              avg_items_ordered
state city          zip_code
IL    Chicago       60629                   909
CA    San Diego     92029                   873
                    91911                   870
NY    New York City 10001                   866
OH    Columbus      43201                   866

### Using `pivot_table`

In [40]:
# Show the total number of items ordered for each state, city, and zip code.
try:
  items_ordered_pivot = pd.pivot_table(sales, values=Numerical_columns, index=Categorical_columns, aggfunc='sum')

  # Rename the "sum" column to "Avg_Number_Products_Ordered"
  items_ordered_pivot.rename(columns={'quantity_ordered':'total_items_ordered'},inplace= True)

  # Show the top 5 results.
  print(items_ordered_pivot.sort_values('total_items_ordered', ascending= False).head())
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
  print(ne)

                              total_items_ordered
state city          zip_code
IL    Chicago       60629                     909
CA    San Diego     92029                     873
                    91911                     870
NY    New York City 10001                     866
OH    Columbus      43201                     866

### 2. Which top five zip codes in which cities and states generated the most sales?

### Using `groupby`

In [41]:
# Show the total price for the items ordered for each state, city, and zip code.
try:
    Numerical_columns_2 = 'price'
    total_sales = sales.groupby(Categorical_columns).agg({Numerical_columns_2: 'sum'})
    # Rename the sum column to reflect the data in the column.
    total_sales.rename(columns={'price':'total_sales_price'},inplace= True)

    total_sales.rename(columns={'total_price':'total_sales_price'},inplace= True)
    # Show the top 5 results.
    print(total_sales.sort_values(by='total_sales_price', ascending=False).head().map('${:,.2f}'.format))
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
  print(ne)
except AttributeError as at:
  print(at)

                             total_sales_price
state city          zip_code
NY    Buffalo       14201          $155,976.70
IL    Chicago       60629          $150,667.34
CA    San Diego     92029          $150,305.41
      San Francisco 94102          $146,115.98
NY    New York City 10013          $145,934.27

### Using `pivot_table`

In [42]:
# Show the total price for all of the items ordered for each state, city, and zip code.
try:
    total_sales_pivot = pd.pivot_table(sales, values=Numerical_columns_2, index=Categorical_columns, aggfunc='sum')

    # Rename the "price" column to "Avg_Number_Products_Ordered"
    total_sales_pivot.rename(columns={'price':'total_price'},inplace= True)
    # Show the top 5 results.
    print(total_sales_pivot.sort_values('total_price', ascending = False).head().map('${:,.2f}'.format))
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
  print(ne)
except AttributeError as at:
  print(at)

                              total_price
state city          zip_code
NY    Buffalo       14201     $155,976.70
IL    Chicago       60629     $150,667.34
CA    San Diego     92029     $150,305.41
      San Francisco 94102     $146,115.98
NY    New York City 10013     $145,934.27

### 3. Which top five zip codes in which cities and states had the greatest average price for the products ordered?

### Using `groupby`

In [43]:
# Show the average price of items ordered for each state, city, and zip code rounded to two decimal places.
Numerical_columns_3 = 'price'
try:
    avg_price = sales.groupby(Categorical_columns).agg({Numerical_columns_3: 'mean'})

    # Rename the sum column to reflect the data in the column.
    avg_price.rename(columns={'price':'avg_price'},inplace= True)

    # Show the top 5 results.
    print(avg_price.sort_values('avg_price', ascending = False).head().map('${:,.2f}'.format))
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
   print(f"No data frame name as {ne}")
except AttributeError as at:
  print(at)

                             avg_price
state city          zip_code
NY    New York City 10013      $212.11
CA    San Francisco 94102      $210.85
TX    Austin        78745      $205.63
NY    Buffalo       14201      $203.89
CA    San Diego     92029      $196.73

### Using `pivot_table`

In [44]:
# Show the average price per product ordered for each state, city, and zip code rounded to two decimal places.
try:
    avg_price_pivot = pd.pivot_table(sales, values=Numerical_columns_3, index=Categorical_columns, aggfunc='mean')

    # Rename the "price" column to "Avg_Number_Products_Ordered"
    avg_price_pivot.rename(columns={'price':'avg_price'},inplace= True)
    # Show the top 5 results.
    print(avg_price_pivot.sort_values(by = 'avg_price', ascending = False).head().map('${:,.2f}'.format))
except KeyError as ke:
  print(f"No column name as {ke}")
except NameError as ne:
   print(f"No data frame name as {ne}")
except AttributeError as at:
  print(at)

                             avg_price
state city          zip_code
NY    New York City 10013      $212.11
CA    San Francisco 94102      $210.85
TX    Austin        78745      $205.63
NY    Buffalo       14201      $203.89
CA    San Diego     92029      $196.73

### 4. Which top five zip codes in which cities and states had the most iPhone sales?

In [45]:
# Filter the sales data to get the iPhone sales data.
# Filter the sales data to get the iPhone sales data.
try:
    iphone_sales = sales[sales['product'].str.contains('iphone',case=False)]

#print uniqe product
    print(iphone_sales['product'].unique())
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")

['iPhone']

### Using `groupby`

In [46]:
# Show the total number of items ordered for each state, city, and zip code.
try:
    iphone_order = iphone_sales.groupby(Categorical_columns).agg({'product': 'count'})
    # Rename the count column to reflect the data in the column.
    iphone_order.rename(columns= {'product':'count'}, inplace= True)
    # Show the top 5 results.
    print(iphone_order.sort_values(by = 'count', ascending= False).head())
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")

                              count
state city          zip_code
NY    New York City 10001        40
                    10013        36
      Buffalo       14201        35
TX    Austin        78701        34
CA    San Francisco 94102        33

### Using `pivot_table`

In [47]:
# Show the total number of items ordered for each city and zip code.
try:
    iphone_order_pivot = pd.pivot_table(iphone_sales, values = 'quantity_ordered', index=Categorical_columns, aggfunc='sum')
    # Rename the "quantity_ordered" column to "Number_Ordered"

    iphone_order_pivot.rename(columns={'quantity_ordered':'number_ordered'}, inplace= True)
    # Show the top 5 results.
    print(iphone_order_pivot.sort_values(by = 'number_ordered', ascending= False).head())
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")
except AttributeError as at:
  print(at)

                              number_ordered
state city          zip_code
NY    New York City 10001                 40
                    10013                 36
      Buffalo       14201                 35
TX    Austin        78701                 34
CA    San Francisco 94102                 33

### 5. Which day had the most iPhone sales?

In [48]:
# Create a pivot table with the 'order_date' as the index and the "price" as the values.
try:
  sales_iphone_pivot = iphone_sales[['order_date','price']].set_index('order_date')

  # Rename the "price" column to "Total_Sales"
  sales_iphone_pivot.rename(columns={'price':'Total_sales'},inplace=True)

  #Show the table.
  print(sales_iphone_pivot.head().map('${:,.2f}'.format))
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")
except AttributeError as at:
  print(at)

                    Total_sales
order_date
2019-01-22 21:25:00     $700.00
2019-01-09 18:23:00     $700.00
2019-01-06 16:54:00     $700.00
2019-01-10 15:40:00     $700.00
2019-01-09 22:11:00     $700.00

In [49]:
# Resample the pivot table into daily bins 
try:
    daily_iphone_sales = sales_iphone_pivot.resample('D')
    # and get the total sales for each day rounded to two decimal places.
    # Sort the resampled pivot table in ascending order on "Total_Sales".
    total_daily_iphone_sales = daily_iphone_sales.sum().sort_values(by = 'Total_sales', ascending= False)

    #Print head
    print(total_daily_iphone_sales.head().map('${:,.2f}'.format))
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")

           Total_sales
order_date
2019-03-27  $18,900.00
2019-02-08  $16,800.00
2019-03-26  $16,800.00
2019-03-02  $16,100.00
2019-01-26  $16,100.00

### 6.  Which week had the most iPhone sales?

In [50]:
try:
    # Resample the pivot table into daily bins 
    weekly_iphone_sales = sales_iphone_pivot.resample('W')
    # and get the total sales for each day rounded to two decimal places.
    # Sort the resampled pivot table in ascending order on "Total_Sales".
    total_weekly_iphone_sales = weekly_iphone_sales.sum().sort_values(by = 'Total_sales', ascending= False)
    #Print head
    print(total_weekly_iphone_sales.head().map('${:,.2f}'.format))
except NameError as ne:
   print(f"No data frame name as {ne}")
except KeyError as ke:
  print(f"No column name as {ke}")
except AttributeError as at:
  print(at)

           Total_sales
order_date
2019-03-31  $97,300.00
2019-02-10  $85,400.00
2019-03-10  $81,900.00
2019-03-17  $81,900.00
2019-03-03  $78,400.00